mlflow==2.14.3
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
packaging==23.2
pyyaml==6.0.2
click==8.1.7
streamlit==1.28.1
plotly==5.17.0

